* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    
}

body {
    min-height: 100dvh;
    width: 100%;
    overflow: hidden;
    padding: 0;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


#main{
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:black;
    position: relative;
}
.spacer{
    height: 5%;
    width: 100%;
    background-color: red;
}
.stage{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

/*Screen States */
#loading{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#coffee_empty{
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}


/* Objects */
#cup{
    height: 270px;
    width: 270px;
    background-color: yellow;
    position: absolute;
    border-radius: 50%;
}

#hand{
    height: 1000px;
    width: 70px;
    background-color: green;
    position: absolute;
    transform: translateY(-100%);
    
    transition: transform 0.5s ease-out;
}

#hand.down{
    transform: translateY(-75%);
}
