* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
    user-select: none;
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    
}

body {
    min-height: 100dvh;
    width: 100%;
    overflow: hidden;
    padding: 0;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


#main{
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:black;
    position: relative;
}
.top_spacer{
    height: 10dvh;
    width: 100%;
    background-color: red;
    position: absolute;
    top: 0;
    z-index: 22;
    
}
.bot_spacer{
    height: 10dvh;
    width: 100%;
    background-color: red;
    position: absolute;
    bottom: 0;
    z-index: 22;
}
.stage{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.hand-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
}

/*Screen States */
#loading{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#coffee_empty{
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
#return_coffee{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 5;

}


#quote_reveal{
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10;
}

/* Objects */
#cup{
    background: url(Plate.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    aspect-ratio: 1/1;

    position: absolute;
    border-radius: 50%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    will-change: transform;
    
}

#cup_content{
    background: url(Empty_Cup.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 65%;
    

    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    isolation: isolate;
    
}

#cup_content_display{
    background: url(Filled_cup.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    opacity: 1;
    aspect-ratio: 1/1;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 0;
    pointer-events: none;
    animation: stir 60s linear infinite;
    
}


.cup_handle{
    background-color: whitesmoke;
    border-top: 3px solid rgb(54, 54, 54);
    border-right: 3px solid rgb(54, 54, 54);
    border-bottom: 3px solid rgb(54, 54, 54);
    border-radius: 0px 5px 5px 0px;
    height: 10%;
    width: 25%;
    position: absolute;
    left: 96%;
    opacity: 1;
    z-index: 1;
}

#quote_container{
    height: 60%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.2;
    overflow: hidden;
   

    z-index: 2;

}

#quote{
    opacity: 0;
    padding: 5%;
    color: white;
    width: 100%;
    white-space: normal;
    overflow-wrap: break-word;

    z-index: 3;
    transition: opacity 0.5s ease-in;
    will-change: opacity;
}


#hand{
    height:50%;
    background-color: green;
    position: absolute;
    transition: transform 0.5s ease-out;
    z-index: 3;
    will-change: bottom;
}

/* Classlists */
#cup.reveal{
    transform: scale(250%);
    
}

#quote.display{
    opacity: 1;
}


/* animations / Keyframes */
@keyframes stir{
    to {
        transform: rotate(360deg);
    }
}



@media (min-width: 900px) {

    #hand{
        width: 10%;
    }
    .bot_spacer{
        height: 0dvh;
        
    }
    .top_spacer{
        height: 0dvh;
    }

}
