* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    
}

body {
    min-height: 100dvh;
    width: 100%;
    overflow: hidden;
    padding: 0;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


#main{
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:black;
    position: relative;
}
.top_spacer{
    height: 10dvh;
    width: 100%;
    background-color: red;
    position: absolute;
    top: 0;
    z-index: 22;
}
.bot_spacer{
    height: 10dvh;
    width: 100%;
    background-color: red;
    position: absolute;
    bottom: 0;
    z-index: 22;
}
.stage{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.hand-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
}

/*Screen States */
#loading{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#coffee_empty{
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
#return_coffee{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

/* Objects */
#cup{
    width: 70%;
    aspect-ratio: 1/1;
    background-color: yellow;
    position: absolute;
    border-radius: 50%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hand{
    height:50%;
    width: 15%;
    background-color: green;
    position: absolute;
    transition: transform 0.5s ease-out;
    z-index: 3;
}

@media (min-width: 1024px) {
    #cup{
        width: 50%;
    }
    #hand{
        width: 10%;
    }
    .bot_spacer{
        height: 5dvh;
        
    }
    .top_spacer{
        height: 5dvh;
    }

}