* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    
}

body {
    min-height: 100dvh;
    width: 100%;
    overflow: hidden;
    padding: 0;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


#main{
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    position: relative;
}

/*Screen States */
#loading{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#coffee_empty{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
